.converge {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* text-decoration: i; */
    margin: auto;
}

.image {
    min-width: 400px;
    width: 40%;
    position: relative;
    padding: 5%;
}

.convergefirst {
    
    color: #5d2eab;
    font-weight: 700;
}

.convergenm {
    font-style: italic;
    font-size: 40pt;
    font-family: 'Roboto', sans-serif;
}

.byhumancloud {
    font-style: italic;
}

.human {
    color: #648FFF
}

.cloud {
    color: #648FFF;
    font-weight: 400pt;
}