.services {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
.services .services-text{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    background: #FAFAFA;
    padding: 20px 40px;
}
.services .services-text div:last-child{
    font-weight: 600;
    color: #5D2EAB;
    text-align: center;
}

.services .partners, .services .clients{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.services .partners div.image, .services .clients div.image{
    min-width: 400px;
    width: 50%;
}
.image{
    width:"100%";
    height:"100%"
}
.services .partners .partner-features .feature, .services .clients .client-features .feature{
    color: #666;
    margin: 20px 0;
}

.services .partners .partner-features .cnt-btn, .services .clients .client-features .cnt-btn{
    min-width: 170px;
    background: #390099;
    color: #fff;
    padding: 5px 20px;
    transition: .3s;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
}
